body {
  background: rgb(181, 169, 110);
}

h1 {
  text-align: center;
  padding-bottom: 30px;
  background: green;
  padding-top: 25px;
  border: 2px solid black;
}

.columns {
  column-count: 3;
  column-gap: 20px;
  column-rule-style: solid;
  column-rule-width: 2px;
  column-rule-color: green;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.cells {
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  background:rgb(109, 97, 33);
  width: 100%;
  border: 2px solid green;
  border-radius: 5px;
  font-size: 30px;
}

#img-1 {
  float: right;
  width: 30%;
  border: 2px solid green;
}

#img-2 {
  float: left;
  border: 2px solid green;
}

#img-3 {
  width: 30%;
  border: 2px solid green;
  float: right;
}

#form {
  margin: auto;
  width: 15%;
  padding-bottom: 40px;
  background:rgb(109, 97, 33);
  width: 60%;
  padding-left: 90px;
  border: 2px solid green;
  font-size: 20px;
}

#form h2 {
  text-align: center;
  padding-top: 20px;
  font-size: 30px;
}

#submit {
  text-align: center;
  margin: auto;
  padding-top: 20px;
}

#submit input {
  background: rgb(128, 205, 73);
  color: white;
  border-style: inset;
}

@media () {

}